body {
    padding: 0;
    margin: 0;
    background-color: #bed774;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    
  }
.banner h1{
    
    color: white;
    font-weight: bold;
    font-size: 4rem;
}
.banner h2{
    
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.banner h4{
    color: white;
    font-size: 1.5rem;
}
.myname {
    color: Chartreuse;
}
.banner {
    display: flex;
    background-image: url("https://images.tinypic.pl/i/00980/d03okhx3b36l.jpg");
    background-size: cover;
    background-position:  center;
 }
 .banner .content {
    position: block;
    top: 50px;
    left: 80px;
    width: 30%;
    text-align: center;
}
  .banner .portrait  {
    display:inline-block;
    justify-content: center;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    padding-top: 1.5rem;
  }
  .socialmedia {
    position: absolute;
    right: 5%;
    top: 5%;
    color: white;
    text-align: right;
  }
.facebook {
    width: 2rem;
    height: 2rem;
}
.instagram {
    width: 2rem;
    height: 2rem;
}
.introduction{
    background-color: #ece9dc;
    color: #566351;
    display: flex;
    justify-content: space-between;
    border-style: double;
    border-width: medium;
    border-color: #566351;
    padding: 1% 1%;
}
.introduction h1{
    color: #566351;
}
.introduction ul{
    word-break: break-word;
    font-size: 1.5rem;
    width: 30%;
}
.introduction p {
    word-break: break-word;
    font-size: 1.5rem;
    width: 16rem;
    padding-left: 0.5rem;
  }
 /* .portfolio{
    margin: 2rem;
    padding: 0;
    text-align: center;
    color: #566351
  }
  .photos p{
    font-size: 1.5rem;
    word-wrap: break-word;
}
   .photo img{
    display: inline-block;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  .photo img:hover{
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }

  .photo{
    display:inline-block;
    width: 32%;
    border-style: double;
    border-width: medium;
    border-color: #566351;
    overflow: hidden;
  }*/


 .portfolio{
    margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  padding: 0;
    margin-bottom: 2rem;
  }
  .photos
{
	display: inline-block;
  width: 25%;
	text-align: center;
  padding: 0.5rem;
}
.photos p
{
  font-size: 0.75 rem;
  word-break: break-word;
}
.photo{
  overflow: hidden;
}
.photo img{
  display:inline-block;
    width: 100%;
    border-style: double;
    border-width: medium;
    border-color: #566351;
    transition: transform 0.3s ease-in-out;
}
.photo img:hover{
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.container{
  height: 500px;
}
  .left{
    /*font-size: 1.75rem;*/
    font-size: 30px;
    text-align:center;
    float:left;
    word-break: break-word;
    height: 100%;
    width:40%;
    background-color: #80C000;
    padding-left: 5%;
    padding-right: 5%;

  }
  .right{
    float:right;
    word-break: break-word;
    height: 100%;
    width:40%;
    color: #566351;
    background-color: #ece9dc;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
  }
  .clear{
    clear:both;
  }
  @media only screen and (max-width: 941px){
    .photos
    {
      width: 40%;
    }
  }
  @media only screen and (max-width: 593px){
    .photos
    {
      width: 80%;
    }
  }
  @media only screen and (max-width: 563px){
    .socialmedia h4{
      opacity: 0;
    }
    .socialmedia .facebook{
      position: relative;
      top:27rem;
      right: 0.2rem;
    }
    .socialmedia .instagram{
     position: relative;
      right: 3rem;
      top:30rem;
     
    }
    .banner .portrait {
      opacity: 0.7;
    }
  }
  @media only screen and (max-width: 924px){
    .left{
        font-size: 25px;
    }
    
  }
   @media only screen and (max-width: 798px){
    .left{
      font-size: 20px;
  }
  }

  @media only screen and (max-width: 423px){
    .left{
      font-size: 15px;
  } 
  }
  @media only screen and (max-width: 252px){
    .left{
      font-size: 11px;
  } 
  }
/* @media only screen and (max-width: 798px){
    .container{
        height: 700px;
    }
    
  }
 @media only screen and (max-width: 581px){
    .container{
        height: 900px;
    }
  }
  @media only screen and (max-width: 461px){
    .container{
        height: 1050px;
    }
  }
  @media only screen and (max-width: 417px){
    .container{
        height: 2000px;
    }
  }
  @media only screen and (max-width: 211px){
    .container{
        height: 3000px;
    }
  }*/